@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	* {
		font-family: 'Barlow', sans-serif;
	}

	/* width */
	::-webkit-scrollbar {
		width: 8px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgb(73, 73, 73);
		border-radius: 5px;
		border: 3px solid transparent;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: rgb(131, 131, 131);
	}


	.glitch {
		position: relative;
		color: #f4f4f4;
	}

	.line:not(:first-child) {
		position: absolute;
		top: 0;
		left: 0;
	}

	.line:nth-child(1) {
		animation: clip 3000ms -300ms linear infinite, glitch1 800ms -397ms linear infinite;
	}

	@keyframes glitch1 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(3px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(-2px);
			color: #AC1212;
		}

		95% {
			transform: translateX(3px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(2) {
		animation: clip 3000ms -600ms linear infinite, glitch2 800ms -593ms linear infinite;
	}

	@keyframes glitch2 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(4px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(-4px);
			color: #AC1212;
		}

		95% {
			transform: translateX(-1px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(3) {
		animation: clip 3000ms -900ms linear infinite, glitch3 800ms -384ms linear infinite;
	}

	@keyframes glitch3 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(0px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(1px);
			color: #AC1212;
		}

		95% {
			transform: translateX(5px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(4) {
		animation: clip 3000ms -1200ms linear infinite, glitch4 800ms -821ms linear infinite;
	}

	@keyframes glitch4 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(-4px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(3px);
			color: #AC1212;
		}

		95% {
			transform: translateX(-1px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(5) {
		animation: clip 3000ms -1500ms linear infinite, glitch5 800ms -300ms linear infinite;
	}

	@keyframes glitch5 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(0px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(4px);
			color: #AC1212;
		}

		95% {
			transform: translateX(3px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(6) {
		animation: clip 3000ms -1800ms linear infinite, glitch6 800ms -989ms linear infinite;
	}

	@keyframes glitch6 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(2px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(-3px);
			color: #AC1212;
		}

		95% {
			transform: translateX(2px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(7) {
		animation: clip 3000ms -2100ms linear infinite, glitch7 800ms -322ms linear infinite;
	}

	@keyframes glitch7 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(5px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(-1px);
			color: #AC1212;
		}

		95% {
			transform: translateX(5px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(8) {
		animation: clip 3000ms -2400ms linear infinite, glitch8 800ms -781ms linear infinite;
	}

	@keyframes glitch8 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(-4px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(2px);
			color: #AC1212;
		}

		95% {
			transform: translateX(-1px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(9) {
		animation: clip 3000ms -2700ms linear infinite, glitch9 800ms -897ms linear infinite;
	}

	@keyframes glitch9 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(1px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(-3px);
			color: #AC1212;
		}

		95% {
			transform: translateX(4px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	.line:nth-child(10) {
		animation: clip 3000ms -3000ms linear infinite, glitch10 800ms -766ms linear infinite;
	}

	@keyframes glitch10 {
		0% {
			transform: translateX(0);
		}

		80% {
			transform: translateX(0);
			color: #fff;
		}

		85% {
			transform: translateX(-4px);
			color: #4E9A26;
		}

		90% {
			transform: translateX(-1px);
			color: #AC1212;
		}

		95% {
			transform: translateX(3px);
			color: #fff;
		}

		100% {
			transform: translateX(0);
		}
	}

	@keyframes clip {
		0% {
			clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
		}

		100% {
			clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
		}
	}

	body>.inner {
		display: none;
	}

	body.pg-loaded>.inner {
		display: block;
	}

	.spinner {
		width: 40px;
		height: 40px;

		position: relative;
		margin: 100px auto;
	}

	.double-bounce1,
	.double-bounce2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #333;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;

		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}

	.double-bounce2 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	@-webkit-keyframes sk-bounce {

		0%,
		100% {
			-webkit-transform: scale(0.0)
		}

		50% {
			-webkit-transform: scale(1.0)
		}
	}

	@keyframes sk-bounce {

		0%,
		100% {
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		}

		50% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}

	.pg-loading-logo-header {
		display: none
	}

}